body {
    background-color:rgb(212, 238, 212);
    text-align: center;
    color:rgb(75, 95, 36);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

a {
    color:rgb(114, 141, 60);
    text-decoration: none;
    
}

a:hover {
    color:rgb(135, 190, 135);
    text-decoration:line;
}

main {
    text-align: left-align;
    margin-left:10%;
    margin-right:10%;
}

h2 {
    text-align: center;
}

img {
    width: 40%;
}

figure {
    text-align: center;
    font-style: italic;
}

#figureTable {
    font-style: normal;
}

#captionTable {
    text-align: left;
}

button[name="resetting_button"] {
    color:rgb(255, 255, 255);
    background-color:rgb(93, 134, 58);
    width: 90px;
    height: 23px;
    margin: 3px;
}
button[name="submit_button"] {
    color: rgb(255, 255, 255);
    background-color:rgb(93, 134, 58);
    width: 90px;
    height: 23px;
    margin: 3px;
}

#job_application {
    text-decoration: underline;
    font-size: 20px;
}
